Body {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;;
}

.nav-item a:link {
    text-decoration: none;
}

.nav-item a:hover {
  text-decoration: none;
}

.nav-item a:visited {
  text-decoration: none;
}
.jumbotron {
  background-image: url("../img/jumbo.jpg");
  background-size: 100% 100%;
}

#navbar-container li {
  list-style: none;
  border-bottom: 1px solid grey;
  float: right;
  margin-right: 10px;
}
.jumbotron .container .text-center {
  color: white;
}

#top-header {
  font-size: 14pt;
}

#bottom-header {
  font-size: 12pt;
  font-variant: small-capss;
}

#project-container h3 {
  text-align: center;
}

.project {
  background-color: #d0e7ec;
  border-radius:4px;
  margin: 20px;
  text-align: center;
  padding: 20px;
}

.project p {
  text-transform: none;
}

.project a:link {
  text-decoration: none;
}

.project a:hover {
  text-decoration: none;
}

.project a:visited {
  text-decoration: none;
}

#about-me-column {
  background-color:lightgrey;
  text-transform: none;
  padding: 20px;
}

#about-me-column h3 {
  text-align: center;
  margin: 20px;
}

#brynna {
  width: 200px;
}

#about-me-p {
  float: none;
}
