.jumbotron {
  background-image: url("../img/jumbo.jpg");
  background-size: 100% 100%;
}

#navbar-container {
  border: 2px solid red;
}
#navbar-container li {
  list-style: none;
}
.jumbotron .container .text-center {
  color: white;
}

#left-column {

}

#center-column {
}

#right-column {
}

#project-container {
}

.project {
  background-color: #d0e7ec;
  border-radius:4px;
  margin: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
